<nav class=" header-pokedex navbar fixed-top">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-md-3 offset-md-1 pt-0 pb-2 header-pokedex__logo">
                <img src="./assets/img/abc.png" alt="Pokedex Challenge" class="float-left pt-1">
                <h2 class="text-left float-left ml-2 pt-2 pb-sm-0 mb-sm-0">Pokedex Challenge</h2>
            </div>
            <div class="col-sm-6 col-md-2 pb-2 pt-0 header-pokedex__sidebar">
                <p><i class="material-icons">filter_list</i> Ordenar por: </p>
            </div>
        </div>
    </div>
</nav>
