<ul class="pokedex-list ml-0 mr-0 pl-2 pr-0">
    <li *ngFor="let pok of pokemons" class="mb-4">
        <mat-card class="pokedex-list__card-pokemon mr-2">
            <mat-card-header class="ml-0">
                <mat-card-title>{{ pok?.name }}</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="card-pokemon__image" [src]="pok?.sprite" alt="Photo of a Shiba Inu">
            <mat-card-actions class="card-pokemon__actions">
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
            <mat-card-content class="card-pokemon__content">
                <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
                </p>
            </mat-card-content>
        </mat-card>
    </li>
    <li class="pokedex-list__next-page">
        <mat-card class="pokedex-list__card-pokemon mr-2">
           
        </mat-card>
    </li>
</ul>
