.btn-back-top{
    cursor: pointer;
    & img{
        width: 48px;
        height: auto;
        margin-right: 25px;
        margin-bottom: 15px;
        transition: transform 2s;
        &:hover{
            transform: rotate(360deg);
        }
        @media screen and (max-width: $mqMobile) {
            width: 35px;
            margin-right: 10px;
            margin-bottom: 10px;
        }
    }
}