<div class="container-fluid home-pokedex">
    <div class="row">
        <div class="col-md-12">
            <app-card-pokemon [pokemons]="pokemons"></app-card-pokemon>
        </div>
    </div>
    <div class="row d-md-none d-block">
        <div class="col-md-12 col-5 offset-4">
            <div (click)="loadPokemon()">
                <button mat-mini-fab color="warn" class="btn-renew-pokedex-icon">
                    <i class="material-icons">autorenew</i>
                </button>
                <button mat-flat-button color="warn"class="btn-renew-pokedex-txt">More</button>
            </div>
        </div>
    </div>
</div>